<div class="doc_foot">
    <div class="doc_foot_content">
        <div class="footer-left fl">
            <span class="icon"></span>
            <div class="info-wrap">
                <p class="num">0755-8856 1234</p>
                <p class="text">海南财富无线信息技术股份有限公司 版权所有    琼ICP备12000926号-1</p>
            </div>
        </div>
        <div class="footer-right fr">
            <div class="app-download">
                <p class="text">客户端下载</p>
                <a class="link">Android</a>
                <a class="link">IOS</a>
            </div>
            <div class="app-download">
                <img class="qrcode" src="/web/resource/img/qrcode.png"/>
            </div>
        </div>
    </div>
</div>