<!DOCTYPE html>
<html ng-app="webapp">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<meta name="format-detection" content="telephone=no,email=no,address=no">
<meta name="renderer" content="webkit">
<title><%= htmlWebpackPlugin.options.title %></title>
</head>
<body>
    <div class="layout_doc" ng-cloak ng-controller="HomeController">
        <div ng-include="'<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/header'"></div>
        <div class="swiper-container">
            <div class="swiper-wrapper">
                <div class="swiper-slide">
                    <img class="banner" src="/web/resource/img/banner.png" />
                </div>
                <div class="swiper-slide">
                    <img class="banner" src="/web/resource/img/banner.png" />
                </div>
                <div class="swiper-slide">
                    <img class="banner" src="/web/resource/img/banner.png" />
                </div>
            </div>
        </div>
        <div class="layout_body">
            <div class="label clear_fix">
                <div class="left fl">
                    <span class="title">最牛客户</span>
                    <span class="text"><a href="#">真实策略</a><span class="line"></span>
                    <a href="#">最新收益排行版</a>
                    </span>
                </div>
                <a href="#" class="btn btn-sub fr">创建策略</a>
            </div>
        </div>
        <div class="list">
            <div class="layout_body clear_fix">
                <div class="list-wrap fl">
                    <div class="text">最近买入</div>
                    <table class="list-table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">湖南盐业</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">28.97</p>
                                        <p class="sub-text">买入</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">湖南盐业</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">28.97</p>
                                        <p class="sub-text">买入</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">湖南盐业</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">28.97</p>
                                        <p class="sub-text">买入</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">湖南盐业</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">28.97</p>
                                        <p class="sub-text">买入</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">湖南盐业</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">28.97</p>
                                        <p class="sub-text">买入</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="list-wrap fr">
                    <div class="text">最近获利</div>
                    <table class="list-table">
                        <tbody>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">邦讯技术</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">169</p>
                                        <p class="sub-text">盈利分配</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">邦讯技术</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">169</p>
                                        <p class="sub-text">盈利分配</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">邦讯技术</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">169</p>
                                        <p class="sub-text">盈利分配</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">邦讯技术</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">169</p>
                                        <p class="sub-text">盈利分配</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">186**597</p>
                                        <p class="sub-text">06/29 14:26 发布</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text">邦讯技术</p>
                                        <p class="sub-text">600股</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <p class="label-text red">169</p>
                                        <p class="sub-text">盈利分配</p>
                                    </div>
                                </td>
                                <td>
                                    <div class="wrap">
                                        <a href="#" class="btn btn-primary">跟买</a>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                
            </div>
        </div>
        <div class="note-wrapper">
            <div class="line"></div>
            <div class="layout_body">
                <div class="label clear_fix">
                    <span class="title">最新公告</span>
                </div>
                <div class="note-list">
                    <div class="item-wrap border">
                        <div class="item">
                            <p class="title over-1">A股上半年题材股风起云涌</p>
                            <p class="date">2018-10-12</p>
                            <p class="text">在经历了长达两年的蓝筹股行情后，A股市场在2018年上半年开始趋于均衡。市场风格”等去年股市的关键词渐渐淡出视野...</p>
                        </div>
                    </div>
                    <div class="item-wrap border">
                        <div class="item">
                            <p class="title over-1">A股上半年题材股风起云涌</p>
                            <p class="date">2018-10-12</p>
                            <p class="text">在经历了长达两年的蓝筹股行情后，A股市场在2018年上半年开始趋于均衡。市场风格”等去年股市的关键词渐渐淡出视野...</p>
                        </div>
                    </div>
                    <div class="item-wrap">
                        <div class="item">
                            <p class="title over-1">A股上半年题材股风起云涌</p>
                            <p class="date">2018-10-12</p>
                            <p class="text">在经历了长达两年的蓝筹股行情后，A股市场在2018年上半年开始趋于均衡。市场风格”等去年股市的关键词渐渐淡出视野...</p>
                        </div>
                    </div>
                    <div class="item-wrap">
                        <div class="item">
                            <p class="title over-1">A股上半年题材股风起云涌</p>
                            <p class="date">2018-10-12</p>
                            <p class="text">在经历了长达两年的蓝筹股行情后，A股市场在2018年上半年开始趋于均衡。市场风格”等去年股市的关键词渐渐淡出视野...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-include="'<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/footer'"></div>
    </div>
    <script type="text/javascript" src="<%=htmlWebpackPlugin.options.dll %>"></script>
</body>
</html> 
