<div class="nav-wrapper">
    <div class="nav-item" ng-class="{'active' : navPage==1}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/optional">我的自选</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==2}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/position">持仓明细</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==3}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/closePosition">平仓明细</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==4}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/order">快速下单</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==5}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/transaction">交易查询</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==6}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/discrepancy">在线出入金</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==7}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/inbox">收件箱</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==8}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/personal">个人资料</a>
    </div>
    <div class="nav-item" ng-class="{'active' : navPage==9}">
        <a href="<%=htmlWebpackPlugin.options.serviceRootPath%>/demo/editPwd">修改密码</a>
    </div>
</div>